<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <style>
      body { font-family: system-ui, -apple-system, Roboto, "Helvetica Neue", Arial; padding: 1rem; line-height: 1.6; }
      header nav a { margin-right: 1rem; }
      main { max-width: 900px; margin: 0 auto; }
    </style>
  </head>
  <body>
    <header>
      <h1><a href="{{ site.baseurl | prepend: site.url | relative_url }}">{{ site.title }}</a></h1>
      <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/common/">By common name</a>
        <a href="{{ site.baseurl }}/scientific/">By scientific name</a>
      </nav>
      <hr/>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <hr/>
      <small>© {{ site.title }}</small>
    </footer>
  </body>
</html>
